<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRUEBA</title>
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/index'">This Hero ID does not exist, click to go back to Index</button>
      </div>

<style>
    .container {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto;
  background-color: #add8e6;
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

p {
  margin-top: 10px;
}
</style>
      


</body>
</html>